[submodule "Anytime_RRT_Sharp/src/googletest"]
	path = Anytime_RRT_Sharp/src/googletest
	url = https://github.com/google/googletest.git
[submodule "Anytime_RRT_Sharp/src/Dubins3d"]
	path = Anytime_RRT_Sharp/src/Dubins3d
	url = https://github.com/EdCarney/Dubins3dCpp.git
